<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="isThreadContextMapInheritable">true</Property>
        <Property name="stdPattern">%d{HH:mm:ss.SSS} [%-3level] %c{1}:%L [%X{threadName}:%tid] - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${stdPattern}"/>
        </Console>
        <Routing name="Routing">
            <Routes pattern="$${ctx:logFilename}">

                <!-- This route is chosen if ThreadContext has no value for keys subRouteDir and filename. -->
                <Route key="$${ctx:logFilename}">
                    <RollingRandomAccessFileAppender name="Rolling-default" filename="logs/${ctx:routeDir}/${date:yyyy-MM-dd}/default.log"
                                                     filePattern="./logs/${ctx:routeDir}/${date:yyyy-MM-dd}/default-%i.log.gz">
                        <PatternLayout pattern="${stdPattern}"/>
                        <Policies>
                            <OnStartUpTriggeringPolicy minSize="10 MB"/>
                        </Policies>
                    </RollingRandomAccessFileAppender>
                </Route>
                <!-- This route is chosen if ThreadContext has a value for routeDir, subRouteDir and filename
            The value dynamically determines the name of the log file. -->
                <Route>
                    <RollingRandomAccessFileAppender name="Rolling-${ctx:logFilename}"
                                                     filename="logs/${ctx:routeDir}/${date:yyyy-MM-dd}/${ctx:logFilename}.log"
                                                     filePattern="./logs/${ctx:routeDir}/%d{yyyy-MM-dd}/${ctx:logFilename}-%i.log.gz">
                        <PatternLayout pattern="${stdPattern}"/>
                        <Policies>
                            <OnStartUpTriggeringPolicy minSize="10 MB"/>
                        </Policies>
                    </RollingRandomAccessFileAppender>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Logger name="de.vsy.server" level="info">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="STDOUT" level="debug"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="STDOUT" level="debug"/>
        </Root>
    </Loggers>
</Configuration>